<h1>Welcome to Engima</h1>
<p>
    Enigma is an end to end solution to protect your privacy during the Digital Identity verification process and also
    monitize the datapoints generated during it.
    Enigma is backed by the hyperledger INDY and etherum blockchain so you know your data is secure.
</p>
<p>Purchase dataset: <a routerLink="datasetpurchase" class="btn btn-primary">Purchase dataset</a></p>
<p>What is my contibution?: <a routerLink="checkbalance" class="btn btn-primary">Profile</a></p>