<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/passkey.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">Enigma</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Enigma is an end to end solution to protect your privacy during the Digital Identity verification process
            and also
            monitize the datapoints generated during it.
            Enigma is backed by the hyperledger INDY and etherum blockchain so you know your data is secure.
            You can either purchase a dataset or contribute to it.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" routerLink="datasetpurchase" class="btn btn-primary btn-lg px-4 gap-3">Purchase
                dataset</button>
            <button type="button" routerLink="checkbalance" class="btn btn-outline-secondary btn-lg px-4">Contribution
                check</button>
        </div>
    </div>
</div>